radio[pane] {
	list-style-image: url("chrome://tabutils/skin/preferences.png");
}

radio[pane=pane1] {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane=pane2] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane=pane3] {
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}

radio[pane=pane4] {
	-moz-image-region: rect(0px, 128px, 32px, 96px);
}

radio[pane=pane5] {
	list-style-image: url("chrome://browser/skin/preferences/Options.png");
	-moz-image-region: rect(0, 224px, 32px, 192px);
}

checkbox:not([label]) > .checkbox-label-box {
  display: none;
}

menuseparator:first-child,
menuseparator:last-child {
  display: none;
}
