/* Close Tab buttons */
window[OS="Darwin"][v4="true"] .tabbrowser-tabs[closeButtonOnPointedTab="true"][closebuttons="activetab"] > .tabbrowser-tab:not([selected="true"]):not(:hover) .tab-close-button,
window[OS="Darwin"][v4="true"] .tabbrowser-tabs[closeButtonOnPointedTab="true"]:not([closebuttons="activetab"]):not([closebuttons="alltabs"]) > .tabbrowser-tab:not(:hover) .tab-close-button {
  display: -moz-box;
  visibility: hidden;
}

/* Tab Grouping */
window[OS="Darwin"][v4="true"] .tabbrowser-tab[group-counter]:not([group-counter="1"])[group-collapsed="true"] .tab-twisty {
  -moz-appearance: treetwisty;
  -moz-padding-end: 2px;
}

window[OS="Darwin"][v4="true"] .tabbrowser-tab[group-first]:not([group-last]):not([group-collapsed="true"]) .tab-twisty {
  -moz-appearance: treetwistyopen;
}

window[OS="Darwin"][v4="true"] .tabbrowser-tabs[orient="vertical"]:not([treestyletab-mode]) > .tabbrowser-tab:-moz-any(:not([group]):not([pinned]), [group-counter="1"]) .tab-twisty {
  width: 21px;
}

window[OS="Darwin"][v4="true"] .tabbrowser-tabs[orient="vertical"] > .tabbrowser-tab[group]:not([group-first]):not([group-collapsed="true"]) {
  -moz-margin-start: 21px;
}

/* Tab Highlighting */
window[OS="Darwin"][v4="true"] .tabbrowser-tab[locked] .tab-throbber:not([busy]),
window[OS="Darwin"][v4="true"] .tabbrowser-tab[protected] .tab-close-button {
  list-style-image: url("jar:resource://app/omni.jar!/chrome/browser/skin/classic/browser/Secure-Glyph-White.png");
}

window[OS="Darwin"][v6="true"] .tabbrowser-tab[locked] .tab-throbber:not([busy]),
window[OS="Darwin"][v6="true"] .tabbrowser-tab[protected] .tab-close-button {
  list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Secure-Glyph-White.png");
}

window[OS="Darwin"][v17="true"] .tabbrowser-tab[locked] .tab-throbber:not([busy]),
window[OS="Darwin"][v17="true"] .tabbrowser-tab[protected] .tab-close-button {
  list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Secure-Glyph.png");
}

window[OS="Darwin"][v4="true"] .tabbrowser-tab[autoReload]:not(:hover) .tab-close-button {
  -moz-image-region: rect(2px, 158px, 18px, 142px) !important;
}

window[OS="Darwin"][v29="true"] .tabbrowser-tab[autoReload]:not(:hover) .tab-close-button {
  -moz-image-region: rect(1px, 179px, 17px, 163px) !important;
}

/* Status bar buttons */
window[OS="Darwin"][v4="true"] #statusbar-openintab {
  -moz-image-region: rect(0px, 220px, 20px, 200px);
}

window[OS="Darwin"][v4="true"] #statusbar-loadinbackground {
  -moz-image-region: rect(0px, 40px, 20px, 20px);
}

window[OS="Darwin"][v4="true"] #statusbar-loadinforeground {
  -moz-image-region: rect(0px, 60px, 20px, 40px);
}
