/* Tab Grouping */
window[v6="true"] .tabbrowser-tab[group-counter]:not([group-counter="1"])[group-collapsed="true"] .tab-twisty {
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

window[v6="true"] .tabbrowser-tab[group-first]:not([group-last]):not([group-collapsed="true"]) .tab-twisty {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

/* Tab Highlighting */
window[v6="true"] .tabbrowser-tabs:not([highlightProtected]) > .tabbrowser-tab[protected] .tab-close-button {
	list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Secure24.png");
}

window[v6="true"] .tabbrowser-tab[autoReload]:not(:hover) .tab-close-button {
  list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Toolbar.png") !important;
}

/* Toolbar buttons */
window[v6="true"] #closetab-button {
  list-style-image: url("resource://app/chrome/toolkit/skin/classic/global/icons/close.png");
}

window[v6="true"] #undoclosetab-button {
  list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Toolbar.png");
}

/* Statusbar buttons */
window[v6="true"] #statusbar-openintab,
window[v6="true"] #statusbar-loadinbackground,
window[v6="true"] #statusbar-loadinforeground {
  list-style-image: url("resource://app/chrome/browser/skin/classic/browser/Toolbar.png");
}
